
/* ---------- General Layout ---------- */

body,
input,
textarea,
select {
	color: #000;
	background: none;
}
body.two-sidebars,
body.sidebar,
body {
	width: 640px;
}
#sidebar,
.navigation,
#toolbar,
#footer-wrapper,
.tabs,
.add-or-remove-shortcuts {
	display: none;
}
.one-sidebar #content,
.two-sidebars #content {
	width: 100%;
}

/* ---------- Node Pages ---------- */

#comments .title,
#comments form,
.comment_forbidden {
	display: none;
}
